<!DOCTYPE html>
<html>
<head>
  <title>Simple Form</title>
</head>
<body>
  <h2>Simple Form</h2>

  <form action="http://localhost:7485/dbdata" method="POST">
    <label>Id:</label><br />
    <input type="number" name="id" required><br /><br />

    <label>Name:</label><br />
    <input type="text" name="name" required><br /><br />

    <label>Age:</label><br />
    <input type="number" name="age" required><br /><br />

    <button type="submit">Send</button>
  </form>
</body>
</html>
