<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
</head>
<body>
<form action="http://localhost:7485/sdata/hi?_method=delete" method="POST">
    <textarea name="arw" id="" placeholder="textarea"><%= xi.cmnt %></textarea>
    <button type="submit">Replace</button>
  </form>
</body>
</html>